- content_for :right_column do
  = form_tag compare_comfy_admin_cms_site_page_revisions_path, :method => :get do |f|
    %ul.box.revisions.compare-revisions-widget
      - @record.revisions.each do |revision|
        - li_classes = []
        - li_classes << 'first' if params[:id].to_i == revision.id
        - li_classes << 'second' if params[:second_revision_id].to_i == revision.id
        - li_classes << 'published' if @record.last_published_revision_id == revision.id
        %li{ :class => li_classes }
          = radio_button_tag 'revision_id', revision.id, params[:id].to_i == revision.id
          = radio_button_tag 'second_revision_id', revision.id, params[:second_revision_id].to_i == revision.id
          = active_link_to l(revision.created_at), edit_comfy_admin_cms_site_page_revision_path(page_id: @record.id, id: revision.id)
      = submit_tag t('.compare')

= render 'comfy/admin/cms/partials/page_form_before', :form => form

= form.text_field :label, :data => {:slugify => @page.new_record?}

- unless @site.pages.count == 0 || @site.pages.root == @page
  = form.text_field :slug, :data => {:slug => true}
  - unless @page.new_record?
    = form.text_field :full_path, :id => 'full-path', :disabled => true

- if (options = ::Comfy::Cms::Layout.options_for_select(@site)).present?
  = form.select :layout_id, options, {}, 'data-url' => form_blocks_comfy_admin_cms_site_page_path(@site, @page.id.to_i)

- if (options = ::Comfy::Cms::Page.options_for_select(@site, @page)).present?
  = form.select :parent_id, options

- if (options = ::Comfy::Cms::Page.options_for_select(@site, @page, nil, 0, false)).present?
  = form.select :target_page_id, [["---- #{t('.select_target_page')} ----", nil]] + options

= render 'comfy/admin/cms/partials/page_form_inner', :form => form

= render 'comfy/admin/cms/categories/form', :form => form

= render 'form_blocks'

= render 'comfy/admin/cms/partials/page_form_after', :form => form

= form.form_group :class => 'form-actions' do
  = form.submit t('.preview'), :name => 'preview', :id => nil, :class => 'btn btn-default'
  = form.submit t(@page.new_record? ? '.create' : '.update'), :name => 'save', :class => 'btn btn-primary'
  = form.submit t(@page.new_record? ? '.create_and_publish' : '.publish'), :name => 'publish', :class => 'btn btn-success'
  = link_to t('.cancel'), comfy_admin_cms_site_pages_path, :class => 'btn btn-link'
